<div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <div>
            <mat-form-field>
                <input formControlName="email" matInput [placeholder]="translate.instant('AUTH.LOGIN.FIELDS.EMAIL')">
                <mat-error [translate]="'GLOBAL.FORMS.ERRORS.REQUIRED'" *ngIf="loginForm.controls['email'].errors?.required && loginForm.dirty">
                </mat-error>
                <mat-error [translate]="'GLOBAL.FORMS.ERRORS.EMAIL'" *ngIf="loginForm.controls['email'].errors?.email && loginForm.dirty">
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input type="password" formControlName="password" matInput [placeholder]="translate.instant('AUTH.LOGIN.FIELDS.PASSWORD')">
                <mat-error [translate]="'GLOBAL.FORMS.ERRORS.REQUIRED'" *ngIf="loginForm.controls['password'].errors?.required != null && loginForm.dirty">
                </mat-error>
                <mat-error [translate]="'GLOBAL.FORMS.ERRORS.MINLENGTH'" [translateParams]="{'minLength': 6}" *ngIf="loginForm.controls['password'].errors?.minlength && loginForm.dirty">
                </mat-error>
            </mat-form-field>
        </div>
        <button type="submit" mat-raised-button>{{'ACTIONS.LOGIN' | translate}}</button>
    </form>
</div>