<div class="com-calendar">
    <div>
        <app-range-day (query)="getMenus($event)"></app-range-day>
    </div>
    <mat-card class="com-calendar__day" *ngFor="let menu of menus; let iMenu = index">
        <h2> {{menu.weekday | weekday}} {{menu.day | date}}</h2>

        <div *ngFor="let meal of menu.meals;let iMeal = index">
            <span class="bold">{{meal.meal}}</span>
            <div class="row">
                <div class="col" *ngIf="meal.name">
                    <app-recipe-details (checkList)="updateRecipe($event, iMenu, iMeal)" (deleteBtn)="deleteRecipeFromMenu(iMeal, iMenu)" [parent]="'calendar'" [recipe]="meal"></app-recipe-details>
                </div>
                <div class="col" *ngIf="!meal.name">
                    <mat-form-field>
                        <mat-select (selectionChange)="onChange($event, iMenu, iMeal)" placeholder="Elige una receta">
                            <mat-option #selectRecipe *ngFor="let recipe of recipes; let i = index" [value]="i">
                                {{recipe.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>

    </mat-card>
</div>