.com_food-list__navbar {
    display: flex;
    justify-content: flex-end;
}

mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.mat-menu-trigger {
    padding: 0 14px;
}

.toolbar-row {
    display: flex;
    justify-content: space-between;
}

button.navbar-item:focus {
    outline: none;
}